# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment variables
.env
.env.*
*.auto.tfvars
!*.example.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Pre-commit
.pre-commit-cache/
